body {
    margin:15px;
    color: black;
    background-color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
    background-color:#BBA0CA;
    text-align: center;
    padding: 6px;
    
}

.navbar {
    background-color: #BBA0CA;
    margin: 5px;
    
}

.nav_element {
    text-align: center;
    display: inline-block;
    padding: 5px;
}

.content {
    margin: auto;
    width: 60%;
    background-color: bisque;
    border-style: solid;
    border-width: 2px;
}

