<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Addevent</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

	<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
</head>

<body>
	<h1 class="text-center">Add a new event</h1>

	<nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand"><span sec:authentication="name"></span></a>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link" href="/eventlist">Eventlist</a>
            <a class="nav-item nav-link" href="/genrelist">Genrelist</a>
            <a class="nav-item nav-link active" href="#" sec:authorize="hasAuthority('ADMIN')" >Add Event <span class="sr-only"></span></a>
          </div>
          <div class="nav_element" >
            <form th:action="@{/login}" method="post" >
                <input type="submit" value="Sign In" class="nav-item nav-link"/>
            </form>
        </div>

        <div class="nav_element" style="margin-left: 20px;">
            <form sec:authorize="hasAnyAuthority('ADMIN', 'USER')" th:action="@{/login}" method="post" >
                <input type="submit" value="Sign Out" class="nav-item nav-link"/>
            </form>
        </div>

        </div>
      </nav>

	<div class="content"  style=" margin: 20px 150px 10px 150px; padding: 10px; text-align: center;">
		<form th:object="${event}" th:action="@{saveevent}" action="#" method="post">

			<div class="form-group">
					<label for="title">Title
				<input type="text" id="title" class="form-control" placeholder="Title" required th:field="*{title}" style="width: 400px;"/></label>
				<div style="clear: both; display: block; height: 10px;"></div>
			</div>

			<div class="form-group">
				<label for="startDay">Day
					<input placeholder="dd.mm.yyyy" type="date" id="startday" name="startDay" class="form-control" required th:field="*{startDay}"/>
				</label>

			</div>
			
			
			<div class="form-group">
					<label for="author">Price
				<input type="text" class="form-control" placeholder="Price" required th:field="*{price}" style="width: 400px;" /></label>
				<div style="clear: both; display: block; height: 10px;"></div>
			</div>
			
			<div class="form-group">
					<label for="year">Info
				<input type="text" class="form-control" placeholder="Info" required th:field="*{info}" style="width: 400px;" /></label>
				<div style="clear: both; display: block; height: 10px;"></div>
			</div>

			<div class="form-group">
				<label>Genres:</label>
				<br>
					<th:block th:each="genre:${genres}" >
					<input type="checkbox" th:field="*{genres}" th:value="${genre.genreid}"
						th:text="${genre.name}" style="margin: 10px;"/>
					</th:block>
			</div>
			
			<input type="submit" value="Save" class="btn btn-success"></input>
			<a href="/addgenre" class="btn btn-primary">Add Genre</a>
		</form>
	</div>
</body>
</html>