<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Addevent</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

	<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
</head>

<body>
	<h1 class="text-center" style="margin-top: 20px;">Add a new event</h1>

	<div class="content"  style=" margin: 150px; padding: 10px; text-align: center;">
		<form th:object="${event}" th:action="@{saveevent}" action="#" method="post">

			<div class="form-group">
					<label for="title">Title
				<input type="text" id="title" class="form-control" placeholder="Title" th:field="*{title}" style="width: 400px;"/></label>
				<div style="clear: both; display: block; height: 10px;"></div>
			</div>
			
			
			<div class="form-group">
					<label for="author">Price
				<input type="text" class="form-control" placeholder="Price" th:field="*{price}" style="width: 400px;" /></label>
				<div style="clear: both; display: block; height: 10px;"></div>
			</div>
			
			<div class="form-group">
					<label for="year">Info
				<input type="text" class="form-control" placeholder="Info" th:field="*{info}" style="width: 400px;" /></label>
				<div style="clear: both; display: block; height: 10px;"></div>
			</div>

			<div class="form-group">
				<label>Genres:</label>
				<br>
					<th:block th:each="genre:${genres}" >
					<input type="checkbox" th:field="*{genres}" th:value="${genre.genreid}"
						th:text="${genre.name}" style="margin: 10px;"/>
					</th:block>
			</div>
			
			<input type="submit" value="Save" class="btn btn-success"></input>
		</form>
	</div>
</body>
</html>