<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Genre</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
	<h1 class="text-center" style="margin-top: 20px;">Add a new genre</h1>

	<div class="content"  style=" margin: 150px; padding: 10px; text-align: center;">
		<form th:object="${genre}" th:action="@{savegenre}" action="#" method="post">
		  		<label for="genre">Genre
			<input type="text" id="genre" class="form-control" placeholder="Genre"  th:field="*{name}" /></label>
			<div style="clear: both; display: block; height: 10px;"></div>
			
			<input type="submit" value="Save" class="btn btn-success"></input>
		</form>
	</div>
</body>
</html>