<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Genre</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
	<h1 class="text-center">Add a new genre</h1>

	<nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand"><span sec:authentication="name"></span></a>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link active" href="#">Eventlist <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="/genrelist">Genrelist</a>
            <a class="nav-item nav-link" href="/addevent" sec:authorize="hasAuthority('ADMIN')" >Add Event</a>
          </div>
          <div class="nav_element" >
            <form th:action="@{/login}" method="post" >
                <input type="submit" value="Sign In" class="nav-item nav-link"/>
            </form>
        </div>

        <div class="nav_element" style="margin-left: 20px;">
            <form sec:authorize="hasAnyAuthority('ADMIN', 'USER')" th:action="@{/login}" method="post" >
                <input type="submit" value="Sign Out" class="nav-item nav-link"/>
            </form>
        </div>
        </div>
      </nav>

	<div class="content"  style="  margin: 20px 150px 10px 150px; padding: 10px; text-align: center;">
		<form th:object="${genre}" th:action="@{savegenre}" action="#" method="post">
		  		<label for="genre">Genre
			<input type="text" id="genre" class="form-control" placeholder="Genre"  th:field="*{name}" /></label>
			<div style="clear: both; display: block; height: 10px;"></div>
			
			<input type="submit" value="Save" class="btn btn-success"></input>
		</form>
	</div>
</body>
</html>