<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit event</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
    
    <h1 class="text-center" style="margin-top: 20px;">Edit event</h1>
        
	
	<div class="content"  style=" margin: 150px; padding: 10px; text-align: center;">
		<form th:object="${event}" th:action="@{../saveevent}" action="#" method="post">

        <input type="hidden" id="id" th:field="*{id}" value="*{id}" />
        <div style="clear: both; display: block; height: 10px;"></div>
        
        <div class="form-group">
                <label for="title">Title
            <input type="text" class="form-control" placeholder="Price" style="width: 400px;" id="title" th:field="*{title}" />
            <div style="clear: both; display: block; height: 10px;"></div></label>
        </div>
        
        <div class="form-group">
                <label for="author">Price
            <input type="text" th:field="*{price}" class="form-control" placeholder="Price" style="width: 400px;" />
            <div style="clear: both; display: block; height: 10px;"></div></label>
        </div>

        <div class="form-group">
                <label for="year">Info
            <input type="text" th:field="*{info}" class="form-control" placeholder="Price" style="width: 400px;" />
            <div style="clear: both; display: block; height: 10px;"></div></label>
        </div>  

        <div class="form-group">
            <label for="genrelist">Genre
                <th:block th:each="genre:${genres}" >
					<input type="checkbox" th:field="*{genres}" th:value="${genre.genreid}"
						th:text="${genre.name}" style="margin: 10px;"/>
					</th:block>
            </label>
        </div>
      
      <input type="submit" value="Save" class="btn btn-success"></input>
      <a href="/eventlist" class="btn btn-primary">Home Page</a>
        </form>
	</div>
</body>
</html>