<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eventlist</title>
</head>
<body>
    <h1>Eventlist</h1>

    <table class="table table-striped">
        <tr>
            <th>Title</th>
            <th>Price</th>
            <th>Info</th>
        </tr>

        <tr th:each="event : ${events}">
            <td th:text="${event.title}"></td>
            <td th:text="${event.price}"></td>
            <td th:text="${event.info}"></td>
        </tr>
    </table>
    
</body>
</html>